body {
  margin: 0;
  height: 100;
  background-color: rgba(139, 163, 199, 0.8);
}
lbx {
  align-content: center;
  background-color: rgb(139, 163, 199);
  margin-top: 5px;
  border: rgb(0 0 0 / 20%);
  border-bottom: 5px solid rgb(119, 143, 179);
}
lbxt-0 {
  color: salmon;
  font-size: 15pt;
  justify-content: center;
}
.lbxt-1 {
  color: salmon;
  font-size: 15pt;
  justify-content: center;
}
.lbxt-2 {
  color: rgb(255, 132, 0);
  font-size: 25pt;
  justify-content: center;
}
.bianyuan {
  /*border: rgb(0 0 0 / 20%);*/
  border-bottom: 5px solid rgb(119, 143, 179);
}
.flex {
  display: flex;
}
.baise {
  background-color: rgb(138, 162, 199);
}
.flex1 {
  flex: 1;
}
.column {
  flex-direction: column;
}
.mg5 {
  margin: 5px;
}
.mgr5 {
  margin-right: 5px;
}
.mgl5 {
  margin-left: 5px;
}
.mgt5 {
  margin-top: 5px;
}
.daohang {
  padding: 10px 20px;
  border-bottom: 5px solid rgb(0, 0, 0, 0.2);
  font-size: 17.5px;
  color: rgb(45, 45, 45);
}
@media (max-width: 600px) {
  .cebianlan {
    display: none;
  }
  .neironglan {
    flex-direction: column;
  }
  .shujuqu {
    flex-direction: column;
  }
  .youqu {
    margin-left: 8px;
  }
  .shuju {
    margin: 0 0 8px;
    flex: auto;
  }
  .neirong::-webkit-scrollbar {
    display: none;
  }
}
